body {background:#212727;}

header {padding:10px;}
header .container_16 h1 {font-size:1.4em; margin:0; padding: 0; line-height:18px; font-weight:normal;}
header a, header a:link, header a:visited, header a:hover {color: white; text-decoration:none;}

footer {color:#666; text-align:right;}
footer .container_16 p {margin-right:0; margin-left:20px;}

#documentation {background:#DCE4EB; position:relative;}
#documentation a, #documentation a:link, #documentation a:visited, #documentation a:hover {color:#444; text-decoration:none;}
#documentation a:hover {text-decoration:underline;}

#navigation {padding-left:20px; padding-top:20px;}
#navigation a, #navigation a:link, #navigation a:visited, #navigation a:hover {display:block;}
#navigation dt {color:#444; font-weight:bold; text-transform:uppercase;}
#navigation dd {color:#444; font-weight:normal; margin-left:0;}
#navigation ul {list-style:none; padding-left:0;}
#navigation li {padding:5px 0;}
#navigation li.selected a {color:#A9014B;}
/*#navigation li ul {display:none;}
#navigation li.expanded ul {display:block; margin-top:0; margin-left:10px; font-size:1em;}
#navigation li.expanded ul li {padding:2px 0;}*/

#viewer-wrapper {background:white; padding-left:9px; padding-right:10px; margin-left:0; margin-right:0; border-left:1px solid #CCC; min-height: 580px;}
#viewer {padding:36px 60px;}
#documentation #viewer a {color:#A9014B;}
#viewer h1 {font-size:2.2em; margin-bottom:10px;}
#viewer h2 {font-size:1.6em; margin-top:35px; margin-bottom:5px;}
#viewer h3 {font-size:1.2em; margin-top:25px; margin-bottom:5px;}
#viewer h4 {font-size:1em; font-weight:bold; margin-bottom:0;}
#viewer section p:first-of-type {margin-top:0;}
#viewer .heading hr {margin:25px 0;}
#viewer .heading p {color:#888; font-size:1.2em; margin:0;}

#viewer code {background:#FFFFB5; padding:1px 5px;}

#viewer table {width:100%; border:1px solid #4BACBD;}
#viewer table thead {border:1px solid #4BACBD;}
#viewer table th, #viewer table td {text-align:left; padding:5px;}
#viewer table tbody tr:nth-child(odd) {background:#EEE;}

#viewer .gist .gist-file {border:1px solid #4BACBD;}
#viewer .gist .gist-file .gist-data {border-bottom:none; background-color:#EBFCFF;}
#viewer .gist-meta {display:none;}

#viewer pre.highlight {padding:5px;}

#viewer .highlight {border:1px solid #4BACBD; background-color:#EBFCFF;}
#viewer .highlight>pre {margin:5px;}
