<% page = 'controllers' %>

<section class="heading">
  <h1>Controllers</h1>
  <p>
    Controllers in Caboose are very similar to those in <a href="http://guides.rubyonrails.org/action_controller_overview.html">rails</a>
  </p>
  <hr />
</section>

<section>
  <h2></h2>
  <p>
  </p>
</section>
