<% page = 'helpers' %>

<section class="heading">
  <h1>Helpers</h1>
  <p>
    Methods to make views easier.
  </p>
  <hr />
</section>

<section>
  <p>
    Helpers in caboose are strictly view helpers.
  </p>
</section>
