<% page = 'overview' %>

<div class="heading">
  <h1>Overview</h1>
  <p>
    <a href="http://coffeescript.org">Coffeescript</a>-happy
    <a href="http://expressjs.com">express</a>-based server-side MVC framework
    loosely based on <a href="http://rubyonrails.org">rails</a>
  </p>
  <hr />
</div>

<h2>Installation</h2>
<p>
  <script src="https://gist.github.com/1610730.js"> </script>
</p>

<h2>Quickstart</h2>
<p>
  <script src="https://gist.github.com/1610746.js"> </script>
</p>
